* {
    margin: 0;
    padding: 0; 
}

body  { 
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}


header{
    font-size: 17px;
    color: white;
    line-height: 1.6;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
    justify-content: normal;
    
}

nav ul{
    list-style: none;
    background: rgb(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav .white ul{
    background: white;
    color: black;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


#landing-page{
    background-image: url(../img/fabio-fistarol-SJJMmc_BYqk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
 
}

#landing-page h1{
    font-size: 100px;
}

#landing-page p{
    font-size: 40px;
}

#landing-page .button{
    font-size: 36px;
    text-decoration: none;
    padding: 0px 20px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    margin-top: 10px;
    box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.1);
}

#landing-page .button:hover{
    background-color: white;
    color: #f9004d;
    cursor: pointer;
}

.about{
    width: 100%;
    padding: 78px 0px;
    background-color: whitesmoke;
}

.img-about{
    height: auto;
    width: 420px;
    box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.1);
}

.about-text{
    width: 550px;
}

.about-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    color: darkgray;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: darkgray;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text span{
    color:#f9004d;
}

.about-text p{
    color: darkgray;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
}

.about-text button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
}

.about-text button:hover{
    background-color: transparent;
    transition: 0.5s;
    border: 2px solid #f9004d;
    color: #f9004d;
    cursor: pointer;
}


.event-container{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;

}

.events{
    max-width: 1120px;
}

.slide-container{
    min-width: 1120px;
    width: 100%;
    /* background-color: grey; */
    padding: 40px;
}
.slide-content{
    padding: 45px 20px;
    margin: 0 40px;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 25px;
}

.card-wrapper{
    box-sizing: border-box;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 20px 0px rgb(0, 0, 0, 0.1);
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0px;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #f9004d;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #f9004d;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.place{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.place-details{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.e-button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #f9004d;
    border-radius: 30px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease
}

.e-button:hover{
    background: white;
    color: #f9004d;
    border: 0.1px solid #f9004d;
    
}



.swiper-navBtn{
    color: #ec628d;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #f9004d;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40x;
}

.swiper-button-next{
    right: 0;
    color: #f9004d !important;
}
.swiper-button-prev{
    left: 0;
    color: #f9004d !important;
}

.swiper-pagination-bullet{
    background-color: #f9004d !important;
    opacity: 1;
}


@media screen and (max-width: 768px){

    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }

};
    





/* .swiper {
    width: 600px;
    height: 300px;
  } */

